{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h2>Projects</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Project name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('redmine_viewer_show_issues', { 'projectId' : project.id }) }}">{{ project.name }}</a></td>
                <td>{% if project.description|trim is not empty %}({{ project.description }}){% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
